* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

h1 {
    color: black;
    margin-bottom: 20px;

}

button {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: backgroung-color 0.3s;
}

button:hover {
    background-color: black;
}

input {
    padding: 10px;
    margin: 10x 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#colorBox {
    border: 2px solid #333;
    border-radius: 5px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.display-area {
    margin: 30px;
    padding: 20px;
    background-color: beige;
    border-radius: 5px;
}